body{
    background-color: darkmagenta;
    padding: 0px;
    margin: 0px;
}
.nav{
    background-color: aqua;
    height: 100px;
    text-align: center;
}

.nav h2{
    margin: 0px;
    font-size: 60px;
    position: relative;
    top: 12px;
}

video {

    width: 849px;
    height: 400px;
}

